/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/slate/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.fixed-width {
  width: 300px;
}

.small-button {
  width: 70px !important;
}

a:hover {
  cursor: pointer;
}

tr {
  height: 100px;
}

.matches {
  font-size: 18px;
  border: 3px solid #000;
}

.matches td {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  }

.matches td:first-child {
  border-left: none;
}

.matches td:last-child {
  border-right: none;
}

.matches th {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.matches th:first-child {
  border-left: none;
}

.matches th:last-child {
  border-right: none;
}

.wide-td{
  width: 330px;
}

.fixed-dropdown{
  width: 200px !important;
}

.bet-won {
  background-color: #026002;
}

.bet-lost {
  background-color: #600202;
}
